:root{
    --fuentePrincipal: 'Poppins', sans-serif;
    --colorPrimario:#032890;
    --colorFondo:#F1F3F8;
    --colorBlanco:#ffffff;
    --colorWhatsapp:#2EB343;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    background-color: var(--colorBlanco);
    line-height: 1.5;
}
/**GLOBALES**/

a{
    text-decoration: none;
    color: #000;
}

.contenedor{
    width:min(90%,120rem);
    margin:0 auto;
}

img{
    width: 100%;
    display: block;
}


h1, h2, h3{
    font-family: var(--fuentePrincipal);
    margin:0 0 2rem  0;
}

h1{
    font-size: 3rem;
}

@media (min-width: 768px) {

    h1{
        font-size: 4rem;
    }
 }

h2{
    font-size: 2rem;
}
@media (min-width: 768px) { 
    h2{
        font-size: 2.5rem;
    }
 }

h3{
    font-size: 1.5rem;
}
@media (min-width: 768px) {
    h3{
        font-size: 2rem;
    }
 }

/**UTILIDADES^*/
.text-align{
    text-align: center;
}

.btn{
    background-color: #4AEB67;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    border-radius: 15px;
    width: 100%;
}

@media (min-width:768px ) { 
    .btn{
        width: auto;
    }
 }


@media (min-width: 768px) { 
    .max-width-30{
        max-width: 30rem;
    }
 }

.btn:hover{
    background-color: #2FB844;
}
/**UTILIDADES^*/


/**SUPERIOR*/
.superior{
    display:none;
}

@media (min-width: 768px) { 
    .superior{
        display: flex;
        justify-content: space-between;
        background-color: black;
        width: 100%;
        height: 5rem;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        font-weight: 500; 
    }
 }

.superior-izquierda{
    padding-top: 1rem;
    padding-left: 2.5rem;
}

.superior-izquierda a{
    padding-left: 1.5rem;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.superior-izquierda a:hover{
    color: #F02757;
}   
.superior-derecho{
    padding-top: 1rem;
    padding-right: 2.5rem;
}

.superior-derecho span{
    margin-right: rem;
}

.superior-derecho p{
    color: white;
    margin: 0;
}

/**HEADER*/

.fondo-header{
    background-color: var(--colorBlanco);
}

header{
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
}

@media (min-width: 768px) { 
    header{
        margin-top: 3rem;
        margin-left: 3rem;
        display: flex;
        column-gap: 8rem;
        padding-bottom: 2.5rem;
    }
 }




.logo{
    display: none;
    width: 40%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
}

@media (min-width: 768px) { 
    .logo{
        display: flex;
        width: 20rem;
        height: 20rem;
        margin-left: 10rem;
    }
 }

 .img-marcas{
    display: none;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
}

@media (min-width: 768px) {
    .img-marcas{
        display: flex;
        justify-content: space-between;
        width: 200px;
    } 
    
 }

.medios-catalogo{
    display: none;
   
}

@media (min-width: 768px) { 
    .medios-catalogo{
        display: flex;
        flex-direction: row;  
        justify-content: center;
        column-gap:20rem;
    }
 }

.contacto-catalogo{
  grid-area: catalogo;

}
.contacto-cotiza{
    grid-area: cotiza;

}


.contacto-catalogo , .contacto-cotiza{
    text-align: center;
}

 
@media (min-width: 768px) { 
    .contacto-catalogo{
        padding-top: 2rem;
        text-align: left;
    }
 }

.contacto-catalogo p{
    font-weight:bold;
}


@media (min-width: 768px) { 
    .contacto-cotiza{
        text-align: left;
        padding-top: 2rem;
    }
 }

.contacto-cotiza p{
    font-weight:bold;
}

/**nav*/
.fondo-navegacion{
    background-color: var(--colorPrimario);
}

.contenedor-navegacion{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4rem;
    max-width: 120rem;
    color: var(--colorBlanco);
    padding: 2rem 0;
    
}

@media (max-width:768px ) { 
    .contenedor-navegacion{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    } 
 }

.contactanos{
    display: flex;
    align-items: center;
    column-gap: 4rem;
}


.contactanos-izquierda{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

@media (max-width:768px ) { 
    .contactanos-izquierda{
        display: none;
        column-gap: 1rem;
        align-items: center;
    }
    .contactanos{
        display: none;
    }
 }

.contactanos-derecha{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.mensajes-derecha h3,
.mensajes-derecha p{
    font-size: 1.4rem;
    margin: 0;
}


/**NAVEGADOR*/

.nav-principal{
    display: none;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 768px) { 
    .nav-principal{
        display: flex;
        flex-direction: row;
        justify-content: start;
        column-gap: 4rem;
        
    }
 }

.nav-principal a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.5s;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    text-decoration:underline;
    color: var(--colorBlanco);
}
@media (min-width: 768px) { 
    .nav-principal a{
        display: flex;
        font-weight: bold;
        transition: 0.5s;
        color: var(--colorBlanco);
    }
 }


.nav-principal a:hover{
    color: #F02757;
    font-size: 1.7rem;
}
/**FIN NAVEGADOR*/




/**CONTENEDOR PRINCIPAL*/

/**MAIN*/

.nosotros{
    margin-top:5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
}

@media (max-width:768px ) { 
    .nosotros{
        margin-top:5rem;
        display: grid;
        grid-template-columns:1fr;
        column-gap: 2rem;
    }
 }

.nosotros-imagenes{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

@media (max-width:768px ) { 
    .nosotros-imagenes{
        display: flex;
        gap: 3rem;
        margin-bottom: 5rem;
        justify-content: center;
        
    }
 }

.nosotros-imagenes img{
    border-radius: 0 60px 60px 0 ;
}

@media (max-width:768px ) { 
    .nosotros-imagenes img{
        border-radius: 0 60px 60px 0 ;
        width: 160px;
        height: 200px;
        margin-top: 2rem;
        
    }
 }

.nosotros-contenido{

}

.nosotros-contenido h2{
    color: red;
}

.nosotros-contenido h3{

}

.nosotros-contenido p{

}

/**NOSOTROS ESTADISTICAS**/

.fondo-nosotros-estadisticas{
    background-color: #032890;
}

.nosotros-estadisticas{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--colorBlanco);
}

@media (max-width:768px ) { 
    .nosotros-estadisticas{
        grid-template-columns: repeat(2,1fr);
        
    }
 }

.nosotros-estadisticas h4{
    color: var(--colorFondo);
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.nosotros-estadisticas p{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 600;
}




/**NOSOTROS EQUIPO**/

.nosotros-equipo{
    margin: 0 1rem;
}

.nosotros-equipo h2{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 5rem 0;
    text-align: center;
    
}
.equipos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
}

@media (max-width:768px ) { 
    .equipos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
    }
 }

.equipo-1{
    text-align: center;
}

.equipo-1 img{
    border-radius: 18px;
    padding: 1rem;
}

.equipo-1 img:hover{
    border-radius: 18px;
    border: 1px solid red;
    padding: 1rem;
}

.equipo-1 h4{
    font-size: 3rem;
    margin:1rem 0;
}

.equipo-1 p{
    font-size: 2rem;
    margin: 0;
    color: #747474;
}

@media (max-width:768px) { 
    .equipo-1 h4{
        font-size: 1.7rem;
        margin:1rem 0;
    }
    
    .equipo-1 p{
        font-size: 1.4rem;
        margin: 0;
        color: #747474;
    }
    
 }








/**FIN CONTENEDOR PRINCIPAL*/

/**WHATSAPP**/
#whatsapp a {
    background: none;
    position: fixed;
    top: 80%;
    width: 100px;
    right: 15px;
}

/**WHATSAPP**/
@media (max-width: 768px) { 
    #whatsapp a {
        background: none;
        position: fixed;
        top: 88%;
        width: 60px;
        right: 15px;
    }

 }

 


















/**MENU DE NAVEGACION OTRO**/

.logo-minimo{
    width: 80px;
}

@media (min-width: 768px) { 
    .logo-minimo{
        display: none;
        width: 80px;
    }
 }

.nav{
  
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__title{
    color: #fff;
    grid-area: title;
}


.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: rgb(202, 25, 25);
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__list img{
    width: 20px;
}

.dropdown__link{
    color: var(--colorBlanco);
    padding: 1em .7em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #ffffff;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}



@media (min-width: 768px) {
    .nav{
        display: none;
        --img1: scale(1);
        --img2: scale(0);
    }
    
    .nav:has( .dropdown:target ){
        --img1: scale(0);
        --img2: scale(1);
    
        --clip:inset(0 0 0 0);
    
    }
    
    .nav__container{
        width: 90%;
        margin: 0 auto;
        height: 70px;
    
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-areas: "title img";
        justify-content: space-between;
        align-items: center;
    
        overflow: hidden;
    }
    
    .nav__title{
        color: #fff;
        grid-area: title;
    }
    
    
    .nav__menu{
        grid-area: img;
        position: relative;
        z-index: 10;
    
        transform: var(--img1);
    }
    
    .nav__menu--second{
        transform: var(--img2);
    }
    
    .nav__icon{
        width: 30px;
        display: block;
    }
    
   

    .dropdown{
        position: absolute;
        background-color: #000;
        width: 75%;
        max-width: 300px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1em;
    
        display: grid;
        align-content:center ;
        gap: 1rem;
    
        overflow-y: auto;
    
    
        clip-path: var(--clip, inset(0 0 100% 100%));
        transition: clip-path .5s;
    }
    
    .dropdown__list{
        list-style: none;
    }
    
    .dropdown__list img{
        width: 20px;
    }
    
    
    .dropdown__link{
        color: rgb(255, 255, 255);
        padding: 1em .7em;
        text-decoration: none;
        
        display: flex;
        align-items: center;
        gap: .6rem;
    
        position: relative;
        background-color: var(--bg, transparent);
        border-radius: 6px;
    }
    
    .dropdown__list:has( :checked ){
        --rows: 1fr;
        --rotate: rotate(180deg);
        --bg: #28303B;
    }
    
    .dropdown__check{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    
    .dropdown__arrow{
        margin-left: auto;
        transform: var(--rotate, 0);
        transition: .2s transform;
    }
    
    .dropdown__content{
        display: grid;
        grid-template-rows: var(--rows, 0fr);
        transition: .3s grid-template-rows;
    }
    
    .dropdown__sub{
        overflow: hidden;
    
    }
    
    .dropdown__li{
        width: 85%;
        list-style: none;
        margin-left: auto;
    }
    
    .dropdown__anchor{
        padding: 1em 0;
        display: block;
        color: #B6BABE;
        text-decoration: none;
    } 
    
 }